#topDiv{
	float: left;
	background-color: blue;
	height: 40px;
	width: 100%;
	text-align: left;
	color: white;
	font-size:36px;
	
}

#secondDiv{
	padding-top: 10%;
	padding-left: 15%;
}

#signUp{
float: left;
width: 40%
margin: 1em 1em 1em 0em;
width: 30em;

}


.formInput{
	margin: 1em 1em 1em 0em;
	height: 2.5em;
	width: 30em;

}

#userImage{
	
	width: 600px;
	float: right;
	height: 20%;
	text-align: center;
	color:  white;
	border-width: 10px;
	border-color: blue;
	background-color: blue;
	margin-top: 1em;
	border-radius: 2em;
}


#userImage p{

	font-size: 1.2em;
}